-if user_signed_in?
  -if current_user.lead_teams.count > 0    
    %p
      =link_to 'Zarządzaj zuchami w mojej gromadzie', team_path(current_user.lead_teams.first)
    %p
      =link_to 'Stwórz plan roczny dla mojej gromady', new_year_plan_path
  -else
    %p
      =link_to 'Stwórz gromadę', new_team_path  
