%head
  %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %meta{:charset => 'utf-8'}/
  %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
  %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
  %meta{:content => '', :name => 'description'}/
  %meta{:content => '', :name => 'author'}/
  = csrf_meta_tag
  %title Admin Dashboard
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'