.authform{
  margin-top: 60px;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.drop-hover{
  color: red;
}
.item-draggable{
  height: 15px;
}
.bgn-red{
  background-color: red;
  height: 17px;
}
.bgn-purple{
  background-color: purple;
  height: 17px;
}
.bgn-yellow{
  background-color: yellow;
  height: 17px;
}
.bgn-blue{
  background-color: blue;
  height: 17px;
}
.bgn-green{
  background-color: green;
  height: 17px;
}
.bgn-red-color{
  background-color: red;
}
.bgn-purple-color{
  background-color: purple;
}
.bgn-yellow-color{
  background-color: yellow;
}
.bgn-blue-color{
  background-color: blue;
}
.bgn-green-color{
  background-color: green;
}

body{
  background-color: #f5f3f1 !important;
}
.flt-rght{
  float: right;
}
.inline{
  display: inline-block;
}
.flt-none{
  float: none;
}
.margin-left-md{
  margin-left: 155px !important;
}
.item{
  height: auto;
}
.mrgn-xs{
  margin-top: 11px;
}
.mrgn-btm-md{
  margin-bottom: 50px;
}